/* ////////////////////////////////////////////////////////
// Selection Stylings
//////////////////////////////////////////////////////// */

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

:focus {
    outline-color: black;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    /* text-decoration: none !important; */
    /* overflow: hidden !important; */
}

:hover {
    text-decoration: none !important;
}

.nav-link {
    transition: 1s;
}

.disable-me {
    pointer-events: none;
}


/* :focus-visible {
    outline: 1px solid black;
    border-radius: 0px;
} */

a.nav-link:hover {
    color: white !important;
    background-color: grey;
    transition: 1s;
}

.navbar-collapse a.nav-link:hover {
    color: white !important;
    background-color: grey;
    padding-left: 5px;
    transition: 0.25s;
}

.navbar-expand-lg .navbar-collapse a.nav-link:hover {
    color: white !important;
    background-color: grey;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

a.navbar-brand {
    color: black !important;
}

a.navbar-brand:hover {
    transform: scale(1.05);
    transition: 1s;
}


/* ////////////////////////////////////////////////////////
// Scroll Bar
//////////////////////////////////////////////////////// */


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}


/* ////////////////////////////////////////////////////////
// Carousel
//////////////////////////////////////////////////////// */

.carousel .carousel-item {
    height: calc(30vw + 30vh);
    overflow: hidden;
    background-color: black;
}

.carousel {
    background-color: black;
}

.carousel-item img {
    position: relative;
    object-fit: cover;
    height: 100%;
    /* // min-height: 60rem; */
    z-index: 100000;
}

.carousel-inner .item {
    /*disables white flash*/
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}


/* ////////////////////////////////////////////////////////
//Image HREF Zoom on Hover
//////////////////////////////////////////////////////// */

.hover-select {
    overflow: hidden;
    transition: 0.5s ease-out;
    opacity: 50%;
}

.hover-select:hover {
    transform: scale(1.25) !important;
    opacity: 1;
    transition: 0.5 ease-in;
}

.hover-select:hover img {
    opacity: 1 !important;
    transition: 0.5 ease-in-out;
}

.hover-select-small {
    overflow: hidden;
    transition: 0.5s ease-out;
}

.hover-select-small:hover {
    transform: scale(1.05) !important;
    opacity: 1;
    transition: 0.5 ease-in;
}

.hover-select-small:hover img {
    opacity: 1 !important;
    transition: 0.5 ease-in-out;
}


/* ////////////////////////////////////////////////////////
// Home Page Specific Stylings
//////////////////////////////////////////////////////// */

.home-button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 25px;
    transition: 0.5s ease-out;
    border-radius: 5px;
}

.home-button:hover {
    color: white;
    transform: scale(1.02);
    transition: 0.25s ease-in;
    border-radius: 7px;
}

.home-image-parent {
    padding: 0 !important;
    height: calc(15vh + 18vw);
    overflow: hidden;
    transform: scale(1.0);
    background-color: black;
    color: white;
}

.home-image {
    object-fit: cover;
    overflow: hidden !important;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    position: relative;
    opacity: 0;
    top: 200%;
}

.home-image-parent .home-image {
    transition: 0.25s ease-in-out;
}

.home-image-parent:hover .home-image {
    transform: scale(1.05);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.home-image-parent:hover .projects-video {
    transform: scale(1.05);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.home-image-title {
    position: relative;
    width: 100%;
    bottom: 15%;
    opacity: 0;
    background-color: black;
    text-align: center;
    transition: 0.35s ease-in-out;
    text-decoration: transparent none !important;
    margin: 0;
    vertical-align: middle;
}

.mobile-home-image-title {
    position: absolute;
    width: 100%;
    bottom: 5%;
    opacity: 1;
    background-color: black;
    color: white;
    text-align: center;
    transition: 0.35s ease-in-out;
    text-decoration: transparent none;
    margin: 0;
    vertical-align: middle;
}

.home-hero-video {
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 120%;
    position: relative;
    object-position: top;
}

.home-hero-video source {
    object-fit: contain;
}

.home-video {
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 120%;
    position: relative;
    top: 0;
    transition: all 0.5s ease-in-out;
}

.home-image-parent h2 {
    font-size: 1.25rem !important;
}

.home-image-parent h6 {
    font-size: 0.75rem !important;
}

.home-image-parent:hover .home-image-title {
    color: white;
    opacity: 1;
    bottom: 30%;
    transition: 0.5s ease-in-out;
}

.home-video-title {
    position: relative;
    width: 100%;
    top: -35%;
    opacity: 0;
    background-color: black;
    text-align: center;
    transition: 0.35s ease-in-out;
    text-decoration: transparent none;
    margin: 0;
    vertical-align: middle;
}

.home-image-parent:hover .home-video-title {
    top: -51%;
    color: white;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.home-image-parent h6 {
    padding-bottom: 2px;
}

.home-image-parent h2 {
    margin: 2px;
}

.home-indicator {
    height: 15px !important;
    width: 15px !important;
    border: black solid 1px !important;
    border-radius: 50%;
}


/* Focus Navigation */

.home-image-parent:focus .home-image {
    transform: scale(1.05);
    overflow: hidden;
    transition: 0.5s ease-in-out;
    outline: 3px white outset;
}

.home-image-parent:focus .projects-video {
    transform: scale(1.05);
    overflow: hidden;
    transition: 0.5s ease-in-out;
    outline: 3px white outset;
}

.home-image-parent:focus .home-image-title {
    color: white;
    opacity: 1;
    bottom: 30%;
    transition: 0.5s ease-in-out;
}

.home-image-parent:focus .home-video-title {
    top: -51%;
    color: white;
    opacity: 1;
    transition: 0.5s ease-in-out;
}


/* ////////////////////////////////////////////////////////
// On Image Loaded
//////////////////////////////////////////////////////// */

.loaded {
    transition: top 1s ease-in;
    opacity: 1 !important;
    top: 0;
}

.loaded-half-opacity {
    transition: top 1s ease-in;
    opacity: 0.65 !important;
    top: 0;
}

.loaded-half-opacity-third {
    transition: top 1s ease-in;
    transition: left 2s ease;
    opacity: 0.65 !important;
    top: 0;
    left: 0%;
}


/* ////////////////////////////////////////////////////////
// Project Page Specific Stylings
//////////////////////////////////////////////////////// */

.projects-button {
    background-color: white;
    border: black solid 2px;
    transition: 0.25s ease-in-out;
    padding: 10px 15px;
    margin: 0;
    height: 100%;
    width: 100%;
}

.projects-button:hover {
    background-color: grey;
    border-color: grey;
    color: white;
    transition: 0.25s ease-in-out;
}

.projects-button:focus {
    background-color: white;
    border: black solid 2px;
    color: black;
    transition: 0.25s ease-in-out;
    outline: 1px inset black;
}

.projects-button-active {
    background-color: black !important;
    color: white !important;
    border: black solid 2px;
    padding: 10px 15px;
    margin: 0;
    height: 100%;
    width: 100%;
}

.projects-video {
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 120%;
    position: relative;
    top: 0;
    transition: all 0.5s ease-in-out;
}


/* ////////////////////////////////////////////////////////
// Interior Project Specific Stylings
//////////////////////////////////////////////////////// */

.project-dir {
    margin-left: 10%;
}

.project-shortcut a {
    color: black !important;
    text-decoration: black underline !important;
    /* transform: scale(1.0); */
    transition: 0.25s ease-in;
}

.project-shortcut a:hover {
    color: grey !important;
    text-decoration: grey underline !important;
    /* transform: scale(1.05); */
    transition: 0.15s ease-in-out;
}

.section-title {
    width: 100%;
    margin-left: 3%;
}

.section-text {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.section-image {
    width: 70%;
    height: 100%;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 25%;
}

.source-link {
    color: grey !important;
    text-decoration: underline grey !important;
}

.source-link:hover {
    color: black !important;
    text-decoration: underline black !important;
}

.section-image .loaded {
    opacity: 1;
    transition: 1s ease-in-out;
}

.section-description {
    margin: 0% 8%;
}

.projects-side-image {
    width: 125%;
    top: 5%;
    height: 75vh;
    object-fit: scale-down;
    opacity: 0;
    left: 80%;
    position: fixed;
    z-index: -1;
}

.projects-side-image.loaded-half-opacity {
    left: 25vw !important;
    transition: 1s ease-out;
}

.projects-side-image.loaded-half-opacity-third {
    left: 25vw !important;
    transition: 1s ease-out;
}


/* ////////////////////////////////////////////////////////
// About Me Page Specific Stylings
//////////////////////////////////////////////////////// */

.about-me-text {
    margin: 0;
}

.about-me-details {
    margin: 0;
    font-size: clamp(0.25rem, 1rem, calc(3vw));
}

.about-me-details:hover a {
    color: grey;
    text-decoration: underline grey;
}

.about-me-details a {
    transition: 0.25s ease-in-out;
    color: black;
    /* vertical-align: middle; */
    text-decoration: underline black;
}

.about-me-title {
    font-size: clamp(1rem, 1.5rem, 4vw);
}

.about-me-logo {
    width: 75%;
    max-height: 162px;
    object-fit: scale-down;
    align-self: center;
}


/* .about-description span {
    white-space: pre-wrap !important;
} */

.about-me-entry {
    margin-bottom: 25px;
    align-items: center;
}

.qfv-faction-item {
    width: 100% !important;
}

.qfv-faction-item .accordion-button {
    width: 100%;
    text-align: left;
    text-indent: 15px;
    background-color: whitesmoke;
}

.qfv-faction-item .accordion-button:hover {
    outline: grey solid 1px;
    transition: 1s;
}

.qfv-faction-item .accordion-button:focus {
    outline: black solid 1px;
    transition: 0.75s;
}

.qfv-faction-item .accordion-body {
    margin-bottom: 25px;
}


/* ////////////////////////////////////////////////////////
// Footer Page Specific Stylings
//////////////////////////////////////////////////////// */

.footer {
    padding: 1rem 0;
}

.to-top-button button {
    background-color: transparent;
    border: 0;
}

.hover-select-image {
    opacity: 0.5;
}

.to-top-button button:active,
.to-top-button button:focus {
    background-color: transparent;
    border: 0;
    outline: 0;
}