/* @import '@fontsource/fira-mono'; */

@font-face {
	font-display: swap;
	font-family: 'Nickname';
	font-style: normal;
	src: url(../fonts/nickname.woff2) format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/montserrat-medium.woff2) format('woff2');}

@font-face {
	font-family: 'Colus';
	src: url('path/colus-regular.eot');
	src: 
		url('../fonts/colus-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/colus-regular.woff2') format('woff2'),
		url('../fonts/colus-regular.woff') format('woff'),
}

@font-face {
	font-display: swap;
	font-family: 'Staatliches';
	font-style: normal;
	src: url(../fonts/staatliches-regular.woff2) format('woff2');
}

.lilita-one-regular {
	font-family: "Lilita One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

:root {
	/*  */
	--font-body: 'Staatliches', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Nickname', 'Fira Mono', monospace;
	--font-text: 'Montserrat';

	--main-bg-colour: rgb(247, 249, 251);

	--color-bg-0: rgb(247, 249, 251);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--black-theme: rgb(9, 9, 9); /* rgba(30, 40, 48, 1); */
	--grey-theme: rgb(30, 40, 48, 1); /* rgb(24, 27, 29); */
	--highlight-theme: red;
	/* --primary-theme: #ff3e00; */
	/* --secondary-theme: #4075a6; */

	--colour-text: rgba(30, 40, 48, 1);
	--half-colour-text: rgb(30, 40, 48, 0.5);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

::selection {
	background: black;
	color: white;
  }

body {
	font-family: (var(--font-body)) ;
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

body.no-scroll {
	overflow: hidden !important; /* Hide scrollbars */
  }

main {
	/* margin: 0 !important; */
	max-width: none !important;
	/* flex-direction: row !important; */
	padding: 0 !important;
}

section {
	width: 100%;
}

h1, h2, h3, h4, h5, h6, a {
	color: var(--grey-theme);
}

h6 a {
	font-weight: bold !important;
}

p {
	font-weight: normal;
	/* font-weight: 400; */
}

p {
	line-height: 1.5;
}

a {
	color: var(--black-theme);
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: var(--highlight-theme);
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.page-section {
	position: relative;
}

.tight-text {
	letter-spacing: -.025em;
}

.uppercase {
	text-transform: uppercase;
}